{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 inline-block">
            <h1>
                {{ menu.title }}
                {% if is_granted('ROLE_EDITOR') %}
                    {% if menu.state == 1 %}
                        {% set class_color = 'info' %}
                    {% elseif menu.state == 2 %}
                        {% set class_color = 'warning' %}
                    {% elseif menu.state == 3 %}
                        {% set class_color = 'danger' %}
                    {% elseif menu.state == 4 %}
                        {% set class_color = 'success' %}
                    {% endif %}
                    (<span class="text-{{ class_color }}">{{ states[menu.state] }}</span>)
                {% endif %}
            </h1>
        </div>
        <div class="col-sm-2 pull-right p-t-25 inline-block">
            <a href="{{ path('menus_index') }}" class="btn btn-link"><span aria-hidden="true">&larr;</span>
                Back to the list
            </a>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
        <div class="col-xs-4">
            <p class="lead text-center"><strong>Price : </strong> {{ menu.price }} €</p>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('menus_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('menus_edit', { 'id': menu.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
