{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .btn span.glyphicon {
            opacity: 0;
        }

        .btn.active span.glyphicon {
            opacity: 1;
        }

        #{{ form.homemade.vars.id }} {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 inline-block">
            <h1>Dish creation</h1>
        </div>
        <div class="col-sm-2 pull-right p-t-25 inline-block">
            <a href="{{ path('dishes_index') }}" class="btn btn-link"><span aria-hidden="true">&larr;</span> Back to the list</a>
        </div>
    </div>

    {{ form_start(form) }}

    <div class="row">
        <div class="form-group col-sm-6">
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title) }}
        </div>

        <div class="form-group col-sm-3">
            {{ form_label(form.price) }}
            {{ form_errors(form.price) }}
            {{ form_widget(form.price) }}
        </div>

        <div class="form-group col-sm-3">
            {{ form_label(form.state) }}
            {{ form_errors(form.state) }}
            {{ form_widget(form.state) }}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </div>

        <div class="form-group col-sm-6">
            {{ form_label(form.allergens) }}
            {{ form_errors(form.allergens) }}
            {{ form_widget(form.allergens) }}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-4">
            {{ form_label(form.category) }}
            {{ form_errors(form.category) }}
            {{ form_widget(form.category) }}
        </div>

        <div class="form-group col-sm-4">
            {{ form_label(form.homemade) }}
            {{ form_errors(form.homemade) }}
            <div class="text-center">
                <label class="btn btn-info">
                    {{ form_widget(form.homemade) }}
                    <span class="glyphicon glyphicon-ok"></span>
                </label>
            </div>
        </div>

        <div class="form-group col-sm-4">
            {{ form_label(form.file) }}
            {{ form_errors(form.file) }}
            {{ form_widget(form.file) }}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <button type="submit" value="Create" class="btn btn-primary" title="Create dish">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Create
            </button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
		var homemade = $("#{{ form.homemade.vars.id }}");

        {% if dish.homemade == true %}
		homemade.parent('label').addClass('active');
		homemade.prop('checked', true);
        {% endif %}

		homemade.on('change', checkHomemade);

		function checkHomemade() {
			if (homemade.is(':checked')) {
				homemade.parent('label').addClass('active');
			} else {
				homemade.parent('label').removeClass('active');
			}
		}
    </script>
{% endblock %}
