{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        #image-dish {
            max-height: 400px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 inline-block">
            <h1>
                {{ dish.title }}
                {% if is_granted('ROLE_EDITOR') %}
                    {% if dish.state == 1 %}
                        {% set class_color = 'info' %}
                    {% elseif dish.state == 2 %}
                        {% set class_color = 'warning' %}
                    {% elseif dish.state == 3 %}
                        {% set class_color = 'danger' %}
                    {% elseif dish.state == 4 %}
                        {% set class_color = 'success' %}
                    {% endif %}
                    (<span class="text-{{ class_color }}">{{ states[dish.state] }}</span>)
                {% endif %}
            </h1>
        </div>
        <div class="col-sm-2 pull-right p-t-25 inline-block">
            <a href="{{ path('dishes_index') }}" class="btn btn-link"><span aria-hidden="true">&larr;</span>
                Back to the list
            </a>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
        <div class="col-xs-4">
            <p class="lead text-center"><strong>Price : </strong> {{ dish.price }} €</p>
        </div>

        <div class="col-xs-4">
            <p class="lead text-center">
                <strong>Category : </strong>
                {% if dish.category is not null and dish.category is not empty %}
                    {{ categories[dish.category] }}
                {% else %}
                    N/A
                {% endif %}
            </p>
        </div>

        <div class="col-xs-4">
            <p class="lead text-center">
                <strong>Homemade : </strong>
                <span class="{% if dish.homemade %}text-success{% else %}text-danger{% endif %}">
                    {% if dish.homemade %}
                        Yes <i class="fa fa-check" aria-hidden="true"></i>
                    {% else %}
                        No <i class="fa fa-times" aria-hidden="true"></i>
                    {% endif %}
                </span>
            </p>
        </div>
    </div>

    <div class="spacer"></div>

    {% if dish.image is not null and dish.image is not empty %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <img id="image-dish" src="{{ asset('img/dishes/' ~ dish.image) }}" alt="Image"
                         class="img-thumbnail">
                </div>
            </div>
        </div>
        <div class="spacer"></div>
    {% endif %}

    {% if dish.description is not null and dish.description is not empty %}
        <div class="row">
            <div class="col-md-2 hidden-sm"></div>
            <div class="col-xs-8">
                <p class="center-block text-center lead">{{ dish.description }}</p>
            </div>
            <div class="col-md-2 hidden-sm"></div>
        </div>
        <div class="spacer"></div>
    {% endif %}

    <div class="spacer"></div>
    <div class="row">
        <div class="col-xs-0 col-sm-2 col-md-3"></div>
        <div class="col-xs-12 col-sm-8 col-md-6">
            <div class="well well-lg text-center block-center">
                <p class="lead">Allergens</p>
                {% if dish.allergens is not empty %}
                    <p class="text-warning">{{ dish.allergens|join(', ') }}</p>
                {% else %}
                    <p class="text-success">None</p>
                {% endif %}
            </div>

        </div>
        <div class="col-xs-0 col-sm-2 col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p class="text-muted">By {{ dish.author.username }}</p>
        </div>
    </div>

    {% if is_granted('ROLE_EDITOR') %}
        <div class="row">
            <div class="col-sm-1">
                <a href="{{ path('dishes_edit', { 'id': dish.id }) }}" class="btn btn-primary" title="Edit dish">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Edit
                </a>
            </div>
            <div class="col-sm-1 pull-right">
                {{ form_start(delete_form) }}
                <button type="submit" value="Delete" class="btn btn-danger" title="Delete dish">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Delete
                </button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
