{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        #image-dish {
            max-height: 400px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 inline-block">
            <h1>Dish</h1>
        </div>
        <div class="col-sm-2 pull-right p-t-25 inline-block">
            <a href="{{ path('dishes_index') }}" class="btn btn-link"><span aria-hidden="true">&larr;</span>
                Back to the list
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <h3>{{ dish.title }}</h3>
        </div>
    </div>

    {% if dish.image is not null and dish.image is not empty %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <img id="image-dish" src="{{ asset('img/dishes/' ~ dish.image) }}" alt="Image" class="img-thumbnail">
                </div>
            </div>
        </div>
        <div class="spacer"></div>
    {% endif %}

    {% if dish.description is not null and dish.description is not empty %}
        <div class="row">
            <div class="col-md-2 hidden-sm"></div>
            <div class="col-xs-8">
                <p class="center-block text-center">{{ dish.description }}</p>
            </div>
            <div class="col-md-2 hidden-sm"></div>
        </div>
    {% endif %}
    <table>
        <tbody>
        <tr>
            <th>Price</th>
            <td>{{ dish.price }}</td>
        </tr>
        <tr>
            <th>State</th>
            <td>{{ dish.state }}</td>
        </tr>
        <tr>
            <th>Homemade</th>
            <td>{% if dish.homemade %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ dish.category }}</td>
        </tr>
        <tr>
            <th>Allergens</th>
            <td>{% if dish.allergens %}{{ dish.allergens|join(', ') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-1">
            <a href="{{ path('dishes_edit', { 'id': dish.id }) }}" class="btn btn-primary" title="Edit dish">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Edit
            </a>
        </div>
        <div class="col-sm-1">
            {{ form_start(delete_form) }}
            <button type="submit" value="Delete" class="btn btn-danger" title="Delete dish">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Delete
            </button>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
