{% if dishes is not empty %}
    {% include ':table:pagination.html.twig' with {'route':'dishes_index'} %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Title</th>
                <th>Price €</th>
                {% if is_granted('ROLE_EDITOR') %}
                    <th>State</th>
                {% endif %}
                <th>Homemade</th>
                <th>Category</th>
                <th>Allergens</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for dish in dishes %}
                <tr>
                    <td><a href="{{ path('dishes_show', { 'id': dish.id }) }}">{{ dish.title }}</a></td>
                    <td>{{ dish.price }}</td>
                    {% if is_granted('ROLE_EDITOR') %}
                        <td class="{% if dish.state == 2 %}warning{% elseif dish.state == 3 %}danger{% elseif dish.state == 4 %}success{% endif %}">
                            {{ states[dish.state] }}
                        </td>
                    {% endif %}
                    <td>{% if dish.homemade %}Yes{% else %}No{% endif %}</td>
                    <td>{% if dish.category %}{{ categories[dish.category] }}{% else %}N/A{% endif %}</td>
                    <td class="{% if dish.allergens is not empty %}warning{% else %}success{% endif %}">
                        {% if dish.allergens is not empty %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        {% if dish.image is not null and dish.image is not empty %}
                            <span rel="popover" data-img="{{ asset('img/dishes/' ~ dish.image) }}">On hover</span>
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('dishes_show', { 'id': dish.id }) }}" title="Show dish"
                           class="btn btn-info btn-sm">
                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                            Show
                        </a>
                        {% if is_granted('ROLE_EDITOR') %}
                            <a href="{{ path('dishes_edit', { 'id': dish.id }) }}" title="Edit dish"
                               class="btn btn-primary btn-sm">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                Edit
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% else %}
    <div class="well well-lg text-center"><p>No dishes available.</p></div>
{% endif %}


    {% if dishes is not empty %}
        <p class="text-right">{{ number }}</p>
        {% include ':table:pagination.html.twig' with {'route':'dishes_index'} %}
    {% endif %}