{% extends 'base.html.twig' %}

{% block content %}
    <h1>User creation</h1>

    {{ form_errors(form) }}
    <div>
        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username) }}
    </div>
    <input type="submit" value="Create" />

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
